
body {margin:0;padding:0;background:#FFFFFF;font-family: 'Comfortaa', 'Century Gothic', Arial;font-size:90%;line-height:1.6em;letter-spacing:.5px;color:#505050;font-weight:normal;}
/*
body {margin:0;padding:0;background:#f6f6f6;font-family: 'Comfortaa', 'Century Gothic', Arial;font-size:100%;color:#646D71;font-weight:normal;}
*/
.clear {clear:both;}
.left {float:left;margin:15px 0 0 0;}
.right {float:right;margin:15px 0 0 0;}
.important-text {color:#000000;text-decoration:underline;}

h2 {padding:0 0 5px 0;margin:0;font-size:1.0em;color:#494949;font-weight:normal;clear:both;}

video {
    right: 0; bottom: 0;
    background:#000000;
    width: 450; height: 280;
}

img {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.title {
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.summary {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
}
