@charset "utf-8";

#visibleTable {
      margin: 10px;
   }



     #theTable {
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px;
          text-align: left;
          border-width: 50px;
          border-style: solid;
          border-color: #600;
          border-collapse: collapse;
      }

      #theTable td {
          margin: 0;
          padding: 4px;
          background-color: #FFC;
          border-width: 50px;
          border-style: solid;
          border-color: #600;
      }
      #theTable th {
          margin: 0;
          padding: 4px;
          background-color: #eeeeee;
          font-weight: bold;
          text-align: left;
          border-width: 50px;
          border-style: solid;
          border-color: #600;
      }



   .linedCard {
       background: url(http://sstk.biz/images/lined-background.png);
   }

   .linedCardSmall {
       background: url(http://sstk.biz/images/lined-background25.png);
   }
   .cardPile {
       box-shadow: 0 0 9px #BDBDBD;
       -webkit-box-shadow: 0 0 9px #BDBDBD;
       height: 129px;
       width:  160px;
       font-size: 18pt;
       overflow: hidden;
       display: none;
       -webkit-user-select: none;
       -khtml-user-select: none;
       -moz-user-select: none;
       -o-user-select: none;
       user-select: none;
   }
   #fc_container {
     font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
     position: relative ;
     margin-left: auto;
     margin-right: auto;
	 color: #2F2F2F;
     width: 840px;
     height: 374px;
     background-color: #2B2B2B;
     margin-bottom: 85px;
     margin-top: 25px;

-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
   }


   #clickToFlip {
       font-size: 14pt;  
       font-style: italic;
       position: absolute;
       bottom: 23px;
       right: 40px;
       font-weight: 100;
   }
   #correctCards {
       position: absolute;
       top: 20px;
       left: 20px;
       z-index: 2;
       cursor: pointer;
   }
   #incorrectCards {
       position: absolute;
       top: 212px;
       left: 20px;
       z-index: 3;
       cursor: pointer;
   }
   #remainingCards {
       position: absolute;
	   color: #5D5D5D;
       left: 660px;
       top: 100px;
       z-index: 2;
       cursor: pointer;
   }
   .cardBox {
       height: 60px;
       width:  180px;
       z-index: 20;
       position: absolute;
       cursor: pointer ;
       line-height: 56px;
 

}

   #remainingBox {
	top:  20px;
	left: 653px;
	color: #A0A0A0;
	display: block;
	margin: 5px;
	padding: 4px 15px;
   }


   #correctBox {
	top:  419px;
	left: 438px;
	display: block;
	margin: 5px;
	padding: 4px 15px;
	color: white;
	text-align: center;
	text-shadow: 0 -3px 0 rgba(0,0,0,.3);
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	khtml-border-radius: 4px;
	border-radius: 6px;
	background: #FDF4CE;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #39993D), color-stop(1, #39993D));
	background: -moz-linear-gradient(center top, #F4E08D 20%, #FDF4CE 100%);
   }
   
   

   #incorrectBox {
	top:  420px;
	left: 209px;
	display: block;
	margin: 5px;
	padding: 4px 15px;
	border-bottom-color: #716565;
	color: white;
	text-align: center;
	text-shadow: 0 -3px 0 rgba(0,0,0,.3);
	text-decoration: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	khtml-border-radius: 4px;
	border-radius: 6px;
	background: #F75861;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(.2, #F75861), color-stop(1, #F75861));
	background: -moz-linear-gradient(center top, #F4E08D 20%, #FDF4CE 100%);
   }
   
   
   
   .cardCount {
       font-size: 12pt;
       font-family: "Arial", sans-serif;
       width: 176px;
       text-align: center;
       z-index: 20;
       text-transform: capitalize;
       cursor: pointer ;
   }

   .hintMessage {
       font-size: 10pt;
       font-family: "Arial", sans-serif;
       color: #C5C5C5;
       z-index: 1;
   }

   .action {
       font-size: 12pt;
       font-family: "Arial", sans-serif;
       color: #666;
       z-index: 1;
       cursor: pointer;
   }
   .action:hover {
	text-decoration: underline;
	color: #A2A2A2;
   }

   #retryLink {
       position: absolute;
       bottom: 2px;
       left: 25px;
       width: 148px;
       text-align: center;
   }

   #helpLink {
       position: absolute;
       top: 5px;
       right: 37px;
   }

   #restartLink {
	position: absolute;
	bottom: -10px;
	right: 86px;
	width: 90px;
	text-align: center;
	font-weight: bold;
	color: #A0A0A0;
   }

   #autoPlayArea {
	position: absolute;
	top: 290px;
	right: 80px;
   }

   #autoPlayLabel {
	position: relative;
	top: -1px;
	color: #A0A0A0;
   }

   #speedBarArea {
      opacity: 0.2;
      display: none ;
   }

   #speedBarArea:hover {
     opacity: 0.999;
   }

   #speedBar {
      height: 3px;
      border-top: 10px solid #ECEEF1;
      border-bottom: 10px solid #ECEEF1;
      width: 150px;
      background-color: #cccccc;
      position: absolute;
      top: 25px;
      left: 3px;
   }

   #speedMarker {
      height: 15px;
      width: 3px;
      background-color: black;
      position: absolute;
      top: 25px;
      left: 62px;
   }

   #delayDescription {
       height: 20px;
       color: black;
       position: absolute;
       top: 48px;
       left: 38px;
       width: 100px;
       font-size: 13px;
       text-align: left ;
       color: #8C8C8C;
   }

   #shuffleLink {
       position: absolute;
       bottom: 2px;
       right: 5px;
       width: 100px;
       text-align: center;
   }


   #reverseOrder {
	position: absolute;
	bottom: 99px;
	left: 668px;
	font-size: 12px;
	width: 154px;
	text-align: center;
   }

   #reverseOrderCheckBox {
      position: relative ;
      top: 2px;
   }



   #pause {
	position: absolute;
	bottom: -78px;
	right: 0px;
	width: 70px;
   }
   #timerArea {
	position: absolute;
	bottom: -47px;
	right: 19px;
   }


   #currentCard {
       position: absolute ;
       height: 322px;
       width: 400px;
       top: 20px;
       left: 228px;
       box-shadow: 0 0 12px #919191;
       -webkit-box-shadow: 0 0 12px #919191;
       margin-left: auto;
       margin-right: auto;
       background-color: white;
       font-size: 62pt;
       display: none;
       z-index: 4;
       overflow: hidden;
       cursor: pointer;

-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;

   }

   #currentCard:active {
       box-shadow: 0 0 25px #EAEAEA;
       -webkit-box-shadow: 0 0 15px #EAEAEA;
   }

   #currentCard table {
        height: 74%;
        text-align: center ;
        padding: 0;
        margin: 0;
        overflow: visible; 
    }

    .cardPile table {
       height: 74%;
       text-align: center;
       padding: 0;
       margin: 0;
    }
    .cardPile td {
        text-align: center ;
        width: 154px;
    }

    #currentCard td {
        text-align: center ;
        width: 395px;
    }

    #currentCard h2 {
       font-size: 24%;
       color: #cccccc;
       font-weight: normal;
       height: 6%;
       padding: 0;
       margin: 0;
    }

    .cardPile h2 {
       font-size: 24%;
       color: #cccccc;
       font-weight: normal;
       height: 6%;
       padding: 0;
       margin: 0;
    }

   
   #infoCard {
      position: absolute;
       height: 326px;
       width: 406px;
       top: 10px;
       left: 216px;
      border: 2px solid black;
      display: none ;
      z-index: 20;
      cursor: pointer ;
       vertical-align:middle;
   }

   #infoCardContent {
       vertical-align:middle;
   }


   .cardPile:active {
       box-shadow: 0 0 15px #BBBBBB;
       -webkit-box-shadow: 0 0 15px #BBBBBB;
   }

   #correctBox:hover {
       background-color: #FF4141; 
    }
   #incorrectBox:hover {
       background-color: #ff0000; 
   }
   #remainingBox:hover {
        background-color: #2B2B2B;
   };
   #startOverlay {
        background-color: #ff0000;
        width: 100%;
        height: 100%;
   }
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #2B2B2B;
}
