.spacegallery {
	position: relative;
	overflow: hidden;
}
.spacegallery img {
	position: absolute;
	left: 45%;
}
.spacegallery a {
	position: absolute;
	z-index: 1000;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}