[Desktop Entry]
Exec=/usr/share/idiomind/add n_t name 2
Icon=/usr/share/idiomind/icon/rename.png
Version=3
Encoding=UTF-8
Type=Application
Terminal=false
Comment=Rename
Name[en]=Rename
