[Desktop Entry]
Exec=idiomind topic
Icon=/usr/share/idiomind/icon/tpc.png
Version=3
Encoding=UTF-8
Type=Application
Comment=Play last entry
Terminal=false
Name[es_AR]=Topic
