[Desktop Entry]
Exec=/usr/share/idiomind/ifs/tls nt
Icon=/usr/share/idiomind/icon/sntc.png
Version=3
Encoding=UTF-8
Type=Application
Comment=Play last entry
Terminal=false
Name[en]=Note
