[Desktop Entry]
Exec=/usr/share/idiomind/add.sh n_i
Icon=/usr/share/idiomind/images/pencil.png
Version=3
Encoding=UTF-8
Type=Application
Comment=Add new
Terminal=false
Name[en]=Add
