[Desktop Entry]
Exec=/usr/share/idiomind/add n_i
Icon=/usr/share/idiomind/icon/pencil.png
Version=3
Encoding=UTF-8
Type=Application
Comment=Add new
Terminal=false
Name[es_AR]=Add
