[Desktop Entry]
Exec=/usr/share/idiomind/play.sh
Icon=/usr/share/idiomind/images/play.png
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name[en]=Play
Name[es]=Play
Name[fr]=Reproduire
Name[it]=Riproduci
Name[pt]=Tocar
Name[ja]=再生する
Name[vi]=Nghe
Name[de]=Wiedergabe
Name[ru]=Play
Name[zn-cn]=Play
Comment[en]=Play
Comment[es]=Reproducir lista
Comment[pt]=Lista de reprodução
Comment[fr]=Liste de lecture
Comment[de]=Wiedergabeliste
Comment[it]=Play list
Comment[vi]=Danh sách chơi
Comment[ja]=プレイリスト
Comment[ru]=Списка воспроизведения
Comment[zn-cn]=播出名单
