[Desktop Entry]
Exec=/usr/share/idiomind/play.sh
Icon=/usr/share/idiomind/images/play.png
Version=3
Encoding=UTF-8
Type=Application
Terminal=false
Comment=play
Name[en]=play
