[Desktop Entry]
Exec=/usr/share/idiomind/cnfg.sh
Icon=/usr/share/idiomind/images/set-26.png
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name[en]=Settings
Name[es]=Config

