[Desktop Entry]
Exec=/usr/share/idiomind/chng.sh
Icon=/usr/share/idiomind/images/tpcs.png
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name[en]=Topics
Name[es]=Temas
Name[fr]=Sujets
Name[it]=Temi
Name[pt]=Tópicos
Name[ja]=トピックス
Name[vi]=Các chủ đề
Name[de]=Themen
Name[ru]=темы
Name[zn-cn]=的主题
Comment[en]=Topic List
Comment[es]=Lista de temas
Comment[pt]=Lista de Tópicos
Comment[fr]=Liste de thèmes
Comment[de]=Themenliste
Comment[it]=Elenco degli argomenti
Comment[vi]=Danh sách chủ đề
Comment[ja]=トピックリスト
Comment[ru]=Тема Список
Comment[zn-cn]=主题列表
