[Desktop Entry]
Exec=idiomind topic
Icon=/usr/share/idiomind/images/tpc.png
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Name[en]=Topic
Name[es]=Tema
Name[fr]=Sujet
Name[it]=Topic
Name[pt]=Tópico
Name[ja]=トピック
Name[vi]=chủ đề
Name[de]=Thema
Name[ru]=тема
Name[zn-cn]=话题
Comment[en]=Active topic
Comment[es]=Tema activo
Comment[pt]=Tópico ativo
Comment[fr]=Active Sujet
Comment[de]=aktives Thema
Comment[it]=Topic attivi
Comment[vi]=hoạt động chủ đề
Comment[ja]=アクティブトピック
Comment[ru]=Активный тем
Comment[zn-cn]=活跃于话题
