[Desktop Entry]
Exec=/usr/share/idiomind/chng.sh
Icon=/usr/share/idiomind/images/tpcs.png
Version=3
Encoding=UTF-8
Type=Application
Terminal=false
Comment=Topics
Name[en]=Topics
