[Desktop Entry]
Exec=/usr/share/idiomind/mngr.sh mklg-
Icon=/usr/share/idiomind/images/refresh.png
Version=3
Encoding=UTF-8
Type=Application
Comment=Marcar todo como aprendiendo
Terminal=false
Name[en]=Repasar
