Source: idiomind
Section: x11
Priority: optional
Maintainer: Robin Palatnik <robinpalat@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: http://idiomind.sourceforge.io
Vcs-Browser: https://github.com/robinpalat/idiomind
Vcs-Git: https://github.com/robinpalat/idiomind.git

Package: idiomind
Architecture: all
Depends: ${misc:Depends}, yad (>=0.39), sox, mplayer, imagemagick, wkhtmltopdf, curl, xdg-utils, xclip, python3, espeak, sqlite3, xsltproc, libsox-fmt-mp3, gnome-screenshot, libnotify-bin
Suggests: tesseract-ocr
Description: Language learning tool
 Idiomind is a small program aimed to help you learn another language.
 Idiomind is based on shell scripts and YAD (GUI).
