Package: idiomind-dbgsym
Source: idiomind
Version: 0.3.2-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Robin Palatnik <robinpalat@gmail.com>
Installed-Size: 20
Depends: idiomind (= 0.3.2-1)
Section: debug
Priority: optional
Description: debug symbols for idiomind
Build-Ids: f88b287ac2bc9fb4c2074c0757df51d68de48059
