[Desktop Entry]
Exec=/usr/share/idiomind/mngr dlt
Icon=/usr/share/idiomind/images/delete.png
Version=3
Encoding=UTF-8
Type=Application
Terminal=false
Comment=Delete topic
Name[en]=Delete
