[Desktop Entry]
Exec=/usr/share/idiomind/addons/Learning_with_news/del dlkt
Icon=/usr/share/idiomind/addons/Learning_with_news/img/delete-2.png
Version=3
Encoding=UTF-8
Type=Application
Terminal=false
Comment=Delete Saved
Name[en]=Delete Saved
